cell-voltage-tracking/flow.json
[
    {
        "id": "d4b1489e17daa213",
        "type": "mqtt in",
        "z": "42e5fe8b46267f4b",
        "name": "",
        "topic": "N/aa00aa00aa00/battery/1/Voltages/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 700,
        "wires": [
            [
                "3fc0a46a34bb0380"
            ]
        ]
    },
    {
        "id": "3fc0a46a34bb0380",
        "type": "function",
        "z": "42e5fe8b46267f4b",
        "name": "set Influx objects",
        "func": "var topic       = msg.topic.replace(/N\\/[0-9A-Za-z]{12}\\//g, \"\");\nvar topic_split = topic.split(\"/\");\nvar battery     = topic_split[1];\nvar object      = topic_split[3].toLowerCase();\nvar value       = Math.round(msg.payload.value * 1000) / 1000;\n\nif(object.includes(\"cell\") && object.length == 5){\n    object = object.replace(\"cell\", \"cell_0\");\n} else {\n    object = object.replace(\"cell\", \"cell_\");\n}\n\n\nif(isNaN(value) == false){\n    \n    // do not store entries with a cell voltage of 0\n    if(object.includes(\"cell\") == false || value != 0){\n    \n        msg.topic = topic;\n        msg.payload = [{\n            \"value\": value\n        },\n        {\n            \"host\": \"nodered.docker.local\",\n            \"source\": \"raspberry-pi-mqtt\",\n            \"battery\": battery,\n            \"object\": object\n        }]\n        \n        return msg;\n    \n    }\n    \n} else {\n    \n    return null;\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 700,
        "wires": [
            [
                "4e0dd67bcc28328d"
            ]
        ]
    },
    {
        "id": "4e0dd67bcc28328d",
        "type": "influxdb out",
        "z": "42e5fe8b46267f4b",
        "influxdb": "",
        "name": "",
        "measurement": "battery_cells",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "1a8d65c7365533b1",
        "type": "mqtt out",
        "z": "42e5fe8b46267f4b",
        "name": "",
        "topic": "R/aa00aa00aa00/keepalive",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 800,
        "y": 600,
        "wires": []
    },
    {
        "id": "f6719f6e18806b8c",
        "type": "inject",
        "z": "42e5fe8b46267f4b",
        "name": "30s interval",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "97c53dd8a1d69502"
            ]
        ]
    },
    {
        "id": "97c53dd8a1d69502",
        "type": "function",
        "z": "42e5fe8b46267f4b",
        "name": "set topics",
        "func": "msg.payload = [\n    \"battery/1/Voltages/#\",\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 600,
        "wires": [
            [
                "af2cb839f606f5b8"
            ]
        ]
    },
    {
        "id": "af2cb839f606f5b8",
        "type": "json",
        "z": "42e5fe8b46267f4b",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 570,
        "y": 600,
        "wires": [
            [
                "1a8d65c7365533b1"
            ]
        ]
    },
    {
        "id": "dbd6aa4f38e3c224",
        "type": "comment",
        "z": "42e5fe8b46267f4b",
        "name": "subscribe to retreive needed values",
        "info": "",
        "x": 260,
        "y": 560,
        "wires": []
    },
    {
        "id": "3d36cf9abff035fd",
        "type": "comment",
        "z": "42e5fe8b46267f4b",
        "name": "VRM Portal ID is found in Venus OS GUI -> Settings -> VRM online portal",
        "info": "",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "56cf642eafd00f21",
        "type": "comment",
        "z": "42e5fe8b46267f4b",
        "name": "save cell voltages, diff and sum to influxdb",
        "info": "",
        "x": 280,
        "y": 660,
        "wires": []
    },
    {
        "id": "cb7a6aef77a35130",
        "type": "comment",
        "z": "42e5fe8b46267f4b",
        "name": "⚠️ Replace aa00aa00aa00 with your VRM Portal ID",
        "info": "",
        "x": 310,
        "y": 480,
        "wires": []
    }
]
